* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  margin: 50px 213px 15px 213px;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-content: center;

  padding: 0px 230px;
  width: 100vw;

  background-color: #ffff;

  z-index: 1;
}

header ul {
  display: flex;
  gap: 30px;

  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #33323d;
}

header ul li a {
  list-style: none;
  text-decoration: none;
  color: #33323d;
}

header ul li a:hover {
  color: #5fb4a2;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #33323d;

  width: 204px;
  height: 48px;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  cursor: pointer;
  color: #33323d;
  background-color: #ffffff;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 230px;

  width: 100vw;
  height: 80px;

  background-color: #33323d;
}

footer ul {
  display: flex;
  gap: 30px;
  align-items: center;

  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer ul li a {
  list-style: none;
  text-decoration: none;
  color: #ffff;
}

footer ul li a:hover {
  color: #5fb4a2;
}

footer img {
  padding: 0px 5px;
  cursor: pointer;
}
