* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  padding: 73px 213px;
}

.apresentacao {
  position: relative;
  background-image: url(../assets/home/image-homepage-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 1090px;
  height: 790px;
  margin-top: 30px;
  margin-bottom: 120px;
}

.apresentacao h1 {
  width: 402px;
  height: 358px;
  margin-top: 432px;
  padding: 56px 26px 101px 26px;

  text-align: left;
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;

  letter-spacing: -0.446429px;

  color: #33323d;
  background-color: #ffffff;
}

.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -48px;
  width: 200px;
  height: 48px;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #203a4c;
}
.arrow-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: -48px;
  width: 48px;
  height: 47px;

  background-color: #203a4c;
}

.texto-sobre-mim {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto-sobre-mim img {
  width: 520x;
  height: 580px;
}

.separador-1 {
  width: 430px;
  height: 1px;
  margin: 0px 0px 10px 135px;

  background-color: #33323d;
  opacity: 0.15;
}

.separador-2 {
  width: 430px;
  height: 1px;
  margin: 0px 0px 10px 662px;

  background-color: #33323d;
  opacity: 0.15;
}

.texto-sobre-mim h1 {
  position: absolute;
  height: 42px;
  margin: 30px 165px 20px 662px;

  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;

  letter-spacing: -0.357143px;

  color: #33323d;
}

.texto-sobre-mim p {
  width: 430px;
  height: 360px;
  text-align: left;
  margin: -480px 0px 10px 662px;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: #33323d;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.botao-ir-portifolio {
  margin: -100px 0px 0px 770px;
}

.page-contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 84px;
  margin: 149px 0px 0px 0px;


  background-color: #ffff;
}

.texto-contato {
  width: 367px;
  height: 84px;
  margin: 0px 0px 0px 0px;

  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;

  color: #33323d;
}

.botao-contato {
  margin: 0px 0px 0px 0px;
}
