* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  padding: 73px 213px;
}

.apresentacao {
  position: relative;
  background-image: url(../assets/home/image-homepage-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1090px;
  height: 790px;
  margin-top: 60px;
}

.apresentacao h1 {
  width: 402px;
  height: 358px;
  margin-top: 432px;
  padding: 56px 26px 101px 26px;

  text-align: left;
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;

  letter-spacing: -0.446429px;

  color: #33323d;
  background-color: #ffffff;
}

.sobre-mim {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-top: -48px;
  width: 200px;
  height: 48px;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #203a4c;
}
.arrow-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: -48px;
  width: 48px;
  height: 47px;

  background-color: #203a4c;
}
